<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotoDemoFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E57AD26C19DF332400D15B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57AD28519DF332400D15B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57AD33319E0A4C800D15B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57AD33D19E0A4C800D15B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
